@import "../../app/globals.scss";

.counter {
  background-color: $color_light;

  h1 {
    margin-bottom: 0;
  }

  .counter-card {
    h1 {
      color: $color_green;
      font-size: 30px;
    }
    p {
      color: $color_dark;
      font-weight: 700;
    }
  }
}
