@import "../../app/globals.scss";

.CryptoCrushers {
  .img {
    width: 80%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  h1 {
    font-size: 32px;
  }

  .get-start {
    padding: 10px 20px;
    font-size: 13px;
  }

  .get-started {
    border: none;
    font-size: 13px;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: $color_dark;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }
}
